html,
body
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.img-circle
{
    border-radius: 50%;
}

.headshot
{
    width: 115px;
    height: 115px;
}

.brand
{
    font-size: 2.6em;

    margin-bottom: 0;
}

.text-center
{
    text-align: center;
}

.meta
{
    font-size: .8rem !important;
    font-weight: 300;
}


.hljs {
    white-space: pre;
    
    overflow-x: auto; /* no line wrapping */
}

pre
{
    font-size: 1 / 0.9em;
    line-height: 1.5;
    margin-top: 10px;
    padding: 5px 15px;
    overflow-x: auto;
    color: #657b83;
    font-size: 10px;
    border: 1px solid #ccc;
    text-shadow: 0 1px #444;
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
    code{
      font-size: 14px;
    }
}

code
{
    padding: 1px 3px;
    margin: 0 3px;
    background: #ddd;
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
    word-wrap: break-word;
    font-size: 14px;
}



.copyright, 
.poweredby
{
    font-size: 13px !important;
    font-weight: 300;
}

img.center
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}
